*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    text-transform: capitalize;
}
header{
    background-image: url('images/bag-header.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 150px;
    position: relative;
}
header .overlay{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    height: 100%;
    right: 0;
    bottom: 0;
    padding: 0 !important;
    margin: 0 !important;
    background-color: rgba(5, 5, 5, 0.3);
}
header nav{
    position: absolute;
    top:0;
    right: 0;
    left: 0;
    z-index: 2;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding:  50px 60px 0 60px;
}
header nav h2{
    font-size: 30px;
}
header nav h2 span{
    color: rgba(228, 241, 35, 0.3);
    font-size: 30px;
    font-weight: bolder;
}
header nav li{
    list-style: none;
    display: inline-block;
    padding-right: 10px;
    padding-left: 10px;
}
header nav li span{
    padding-left: 5px;
}
header nav li a{
    padding: 5px;
    text-decoration: none;
    background-color: blanchedalmond;
    color:black;
}
header nav ul .cart icon-icon{
    vertical-align: bottom;
    font-size: 20px;
    padding-right: 5px;
}
header nav ul .cart a{
    background-color: royalblue;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
}
.container-cart,
.products-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-wrap: wrap;
    margin-top: 50px;
    padding-bottom: 100px;
}
.container-cart .box{
    background: rgba(5, 5, 5, 0.3);
    width: 250px;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    padding-bottom: 50px;
    position: relative;
}
.container-cart .box:hover{
    transform: scale(1.02);
    box-shadow:0 1rem 1rem rgba(0, 0, 0, .2);
}
.container-cart .box img{
   height: 200px;
   width: 100%;

}
.container-cart .box h3{
    color: #333;
    padding-bottom: 10px;
    object-fit: contain;
}
.container-cart .box .add-cart {
    position: absolute;
    text-decoration: none;
    color: #fff;
    background: rosybrown;
    width: 100%;
    height: 40px;
    opacity: 0;
    left: 0;
    bottom: 0;
    cursor: pointer;
}
.container-cart .box:hover .cart1,
.container-cart .box:hover .cart2,
.container-cart .box:hover .cart3,
.container-cart .box:hover .cart4{
    opacity: 1;
    transition: all 1s ease-in-out;
    bottom: 1%;
    padding: 10px;
}




/* CART PAGE */
.products-container{
    max-width: 650px;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 50px;
}
.products-container ion-icon{
    font-size: 25px;
    color: blue;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
}
.product-header{
    width: 100%;
    max-width: 650px;
    display: flex;
    justify-content: flex-start;
    border-bottom:  4px solid lightblue;
    margin: 0 auto;
}
.product-title{
    width:  45%;
}
.price{
    width: 15%;
    display: flex;
    align-items: center;
}
.quantity{
    width: 30%;
    border-bottom:  1px solid lightblue;
    display: flex;
    align-items: center;
}
.total{
    width: 10%;
    border-bottom:  1px solid lightblue;
    display: flex;
    align-items: center;
}
.product{
    width: 45%;
    border-bottom:  1px solid lightblue;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:  10px 0;
}

